apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-deployment
  labels:
    app: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
      - name: gateway
        image: gcr.io/abiding-cedar-359014/microservice-app-template-gateway:latest
        ports:
        - containerPort: 80
        env:
        - name: AUTH
          valueFrom:
            configMapKeyRef:
              name: gateway-confmap
              key: AUTH
        - name: GREETING
          valueFrom:
            configMapKeyRef:
              name: gateway-confmap
              key: GREETING
        # resources:
        #   requests:
        #     memory: "64Mi"
        #     cpu: "250m"
        #   limits:
        #     memory: "128Mi"
        #     cpu: "500m"