version: '3.1'

services:

  auth:
    build:
      context: ./backends/auth
    env_file:
      - ./backends/auth/.env
    ports:
      - 8001:80
    depends_on:
      - db

  greeting:
    build:
      context: ./backends/greeting
    ports:
      - 8002:80
    depends_on:
      - auth

  snacktrack:
    build:
      context: ./backends/snacktrack
    env_file:
      - ./backends/snacktrack/.env
    ports:
      - 8003:80
    depends_on:
      - auth

  gateway:
    build:
      context: ./gateway
    env_file:
      - ./gateway/.env
    ports:
      - 8000:80

  db:
    image: postgres
    environment:
      POSTGRES_DB: dev_db
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: password
    ports:
      - 5432:5432

  adminer:
    image: adminer
    ports:
      - 8080:8080
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile-dev
    volumes:
      - ./frontend/:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - 4200:4200
